body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
}

#game-arena {
    width: 600px;
    height: 600px;
    background-color: #333;
    position: relative;
    border: 5px solid #666;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#score-board {
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.start-button {
    padding: 12px 24px;
    cursor: pointer;
    background: linear-gradient(to right, #f97316, #ea580c);
    color: white;
    font-weight: 600;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

.start-button:hover {
    background: linear-gradient(to right, #9333ea, #3b82f6);
}


.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.snake {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: absolute;
    border-radius: 5px;
}